# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/.next/
/out/

# misc
.DS_Store
*.pem
next-env.d.ts

# env / secrets
.env*
config.local.php

# local CMS database & uploads
/data/*.sqlite
/data/*.sqlite-*
/uploads/*
!/uploads/.gitkeep
