DirectoryIndex index.php index.html
Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^data/ - [F,L]
  RewriteRule ^lib/ - [F,L]
  RewriteRule ^templates/ - [F,L]
  RewriteRule ^drizzle/ - [F,L]
  RewriteRule ^src/ - [F,L]
  RewriteRule ^node_modules/ - [F,L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.php [L,QSA]
</IfModule>
